.CoursedetailBar {
  background-color: #e1e6ef;
}

.couseTitle {
  font-size: 26px;
  font-weight: 700;
}

.courseButtonBg {
  background-color: #5cb85c;
}
.courseStarColor {
  color: #d0d23c;
  margin-right: 2px;
}

.coursePrice {
  font-weight: 700;
}
