.loginContainer{
    background-color: #f9fafc;
    padding: 60px;
    margin-top: 100px;
}
.loginText{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #233d63;
}
.loginPara{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.signUp{
    color: blue;
}
.inputContainer{
    margin-top: 50px;
}


.inputField{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dddddd;
    color: #6f7074;
   
    height: 50px;
   
    display: block;
    margin: auto;
    width: 25%;
    height: calc(2.25rem + 2px);
    padding: 25px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
   
    background-clip: padding-box;
    
}
.inputFields{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dddddd;
    color: #6f7074;
    
    height: 50px;
    
    display: block;
    margin: 10px auto;
    width: 25%;
    height: calc(2.25rem + 2px);
    padding: 25px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    
    background-clip: padding-box;
}
.inputContainerLabel{
    display: flex;
    justify-content: center;
    gap: 60px
}

.labeltext{
    margin-left: 6px;
}
.forgetPass{
    text-decoration: underline;
    color: red;
}



.loginBtn{
    font-size: 19px;
    font-weight: bold;
    height: 55px;
    border-radius: 4px;
    /* height: 50px; */
   display: block;
   margin: 15px auto;
    background-color: #192675;
    border-color: #192675;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    width: 25%;
    border-radius: 10px;
}