
.browsAndTop {
    text-align: center;
  }
  .browse {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 26px;
    font-weight: 700;
    
  }
  
  .topCourse {
    text-decoration: none;
    color: black;
    justify-content: center;
    border-bottom: 2px solid #2441e7;
    color: #2441e7;
    align-items: center;
    margin-bottom: 30px;
    margin-bottom: 30px;
  }
  
  .cardMainDiv {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      margin-top: 40px;
  }
  
  .card {
    transition: 0.3s;
    border: none;
    opacity: 1;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0.8;
  }
  
  .image {
    width: 100%;
    height: 200px;
  }
  
  .cardImage {
    position: relative;
  }
  
  .bestSellerAndPreviewCourse {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 62%);
    opacity: 0;
    transition: 0.3s;
  }
  
  .card:hover .bestSellerAndPreviewCourse {
    opacity: 1;
  }
  
  .cardFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-top: solid 1px gray;
    padding: 6px;
  }
  
  .iconAndNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
  .manAndMessage {
    display: flex;
    gap: 20px;
  }
  
  .originalPrice {
    display: flex;
    gap: 8px;
    
  }
  .paddingDiv {
    padding: 15px;
  }
  
  .starAndButton {
    margin-top: 10px;
    margin-bottom: 46px;
  }
  
  .star {
    color: #d0d23c;
    margin-bottom: 5px;
    margin-right: 2px;
  }
  
  .buttons {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    margin-top: 4px;
  }
  
  .cardText {
    font-size: 20px;
  }
  
  .taka {
    display: flex;
    align-items: center;
    color: #c75533;
    font-size: 18px;
    font-weight: 600;
  }
  .discountPrice{
    display: flex;
    align-items: center;
  }

  .starMain {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .fiftyDiscount {
    background-color: #dc3545;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    padding: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
  
  }
  .bestSeller {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.3s;
  }
  
  .bestSellerButton {
    padding: 3px 8px;
    border: none;
    border-radius: 5px;
    background-color: #c75533;
    color: white;
  }
  
  .previewCourse {
    position: absolute;
    top: 42%;
    left: 33%;
  }
  
  .previewCourseLink {
    color: white;
    text-decoration: none;
  }
  