.topViewHeading{
    text-align: center;
    font-family: "Nunito";
    font-size: 26px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 700;
}
.sdd {
    font-size: 34px;
    color: red;
  }
.takas{
    display: flex;
    align-items: center;
    color: #c75533;
    font-size: 20px;
    font-weight: 700;

}
.discountPrices{
    position: relative;
    display: flex;
    align-items: center;
}
.discountPrices::before{
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid rgba(255,0,0, 0.8);
    height: 16px;
    position: absolute;
    transform: rotate(-7deg);
    bottom: 0;
    left: 3px;
}