@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap');


:root {
  /* --primary: #fa6400;
  --secondary: #ff008e; */
  /* --third: #2441e7; */
  --font-secondary: 'Oswald', sans-serif;
  --font-primary:  'Nunito Sans', sans-serif;
  --background-color-white: #fff;
  --background-color-black: #000000;
 
  
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
  font-family: var(--font-primary) !important;
  position: relative;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

ul li a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary) !important;
}

p {
  margin: 0 !important;
  padding: 0;
}
.marginTopPrimary{
  margin-top: 50px;
}
.paddingTopPrimary{
  padding-top: 20px;
}
.colorWhite{
  color: white;
}




